body{background: #000; 
    text-align: center;
    position:absolute ;
padding-left: 35%;
margin-top: 5%;
padding-right: 35%;
 }
button{ 
    width:  150px;
    height: 150px;
    cursor: pointer;
   
}
.blue{
    color: #0099ff;}
.pink{
    color: #df56e4;}
.yellow{
    color: #e7f84a;}
#play-button{ cursor: pointer;}