body{  text-align: center;
    margin:0%;
background-image:url(pexels-olha-ruskykh-5984612.jpg);} 
 #logo{
    
    
float:left}
 a { 
     font-family: Helvetica;  
    font-size: 30px; 
    font-style:inherit;
    text-align: right ; 
    text-decoration: none;
    padding: 10px;;
    margin-top: 10px;
    float: right;
    color: black;
     }
     a:hover {
       color: white;
       text-decoration: solid ;
       text-decoration: underline;
      }
      .active_seite{
        color: white;
        text-decoration: solid ;
        
       }
      a:focus { color: white;
      text-decoration: solid ;
      text-decoration: underline;
     }
      a:active  
      { color: white;
        text-decoration: solid ;
    text-decoration: underline;}
.container{
    width: 800px;
    align-content: center;
    padding:center;
    margin: auto;display: block;
    margin-left: auto;
    margin-right: auto;
    
    }
    .bilder-und-video{  display: flex; 
        justify-content: center; 
        align-items: center;
    }
 

.hintergrundbild {
    background:url("DSC_1327.JPG") no-repeat center;
    background-size: cover;
    height: 400px;
    width: cover;
    position :relative;}
h1 {text-align: left;
    font-family:Helvetica; 
    color: white;
}
h2 {font-family:Helvetica;
    color: white;
}

p{ font-family:Helvetica;
    color: white
}
#p1{text-align: start;
    font-family: Helvetica, sans-serif;
    margin: 30px;
    color: black; 
     width: 250px;
     height: 105px;
}
#p2{
    font-family: Helvetica, sans-serif;
    margin: 30px;
    width: 250px;
    color: black;
text-align: center; 
height: 105px;
}
#icons{text-align: left;}
#p3{text-align: end;
    font-family:Helvetica, sans-serif;
     margin: 30px;
     color: black;  
     width: 250px; 
     height: 105px;
}
.bilder{
    width: 600px; 
    height: 400px;}
 #bilderhoch{
     width:300px;
     height:550px}
     .video{width:400px;height:250px
    }
textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    background-color: gray; 
    border-radius:6px; 
    border:2px solid silver;
    outline: none; 
    width:400px;
 }
 #message{height: 200px; width: 150px;}
#footer{background-color: #eaeaea; 
    height: 200px;
    display:flex; justify-content: center;
    align-items: center;
}
footer{background-color: #eaeaea; 
}