body{margin: 0%;}
header{
    width: 100%; height: 400px;
    background-size: cover;
    position: fixed;
    overflow: hidden;
    
}
.hintergrundbild{
    width: 100% !important;
    height: 400px;
    background-size:contain;
    position: fixed;   
    object-fit:none;
}
.links{
    position:fixed;
    margin: 10px 10px 10px;    
    font-family: Helvetica;  
    float:right; 
    color: black; 
    font-size: 20px; 
    text-decoration: none;
    padding: 10px;
    right: 10%;
}

a {
    font-family: Helvetica;  
    color:blueviolet; 
    font-size: 20px; 
    text-decoration: none;
    
}

a:hover {
    font-family: Helvetica;  
    color: black; 
    font-size: 20px; 
    text-decoration:underline;
    text-decoration-color: black;
    
}

.logo{
    position:fixed;
    width: 113px;
    height: auto;
    float: left; 
    margin: 10px
}
#logo{
    width: 113px;
    height: auto;
    float: left; 
    margin: 10px
}
main{margin-top:400px; width: 800px;align-content: center;padding:center;margin: auto; }
footer{background-color: #eaeaea;}